.gitignore
__MACOSX
__pycache__
.vscode
.DS_Store
com3110
analysis_and_optimisations
dev_predictions_3classes_acb21lgb.tsv
dev_predictions_5classes_acb21lgb.tsv
test_predictions_3classes_acb21lgb.tsv
test_predictions_5classes_acb21lgb.tsv
dev_predictions_3classes.tsv
dev_predictions_5classes.tsv
test_predictions_3classes.tsv
test_predictions_5classes.tsv
